@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0;
}

#navbar {
    background-color: black;
    /* width: 1804px;
    height: 63px;
    display: inline-block;
    padding-right: 107px;
    top: 0px;
    position: relative;
    left: -9px;
    margin: 0px; */
    /* tambahan */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

/* .navbar a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
} */

.logo {
    /* display: inline-block; */
    color: white;
    font-size: 32px;
    font-family: 'Lato';
    font-weight: 700;
    padding-left: 112px;
    /* margin-top: 7px; */
}

.menu {
    /* display: inline-block;
    text-decoration: none;
    text-align: center; */
    padding-left: 500px;
}

/* #navbar a {
    text-decoration: none;
    color: white;
} */

.menu ul {
    /* text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding-left: 41px; */

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.menu ul li{
    list-style: none;
    text-decoration: none;
}

.menu ul a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 6px 15px;
}

.menu ul a:hover, 
.menu ul a:active{
    background: white;
    color: black;
    border-radius: 20px;
}



.malem {
    /* width: 40.44px;
    height: 39.74px;
    display: inline-block;
    margin-left: 450px;
    top: 11px;
    position: absolute; */

    padding-left: 100px;
}

.konten1{
    margin-left: 281px;
    margin-top: 98px;
}

.konten1 img {
    position: absolute;
    margin-left: 827px;
    width: 449px;
    height: 603px;
}

#hiasan1 {
    position: absolute;
    left: -830px;
    top: 50px;
}

#hiasan2 {
    position: absolute;
    left: 400px;
    top: 210px;
}

.head{
    position: absolute;
    width: 593px;
    height: 274px;
    display: inline-block;
}

.head h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 83.5%;
}

.head p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 129%;
    margin-top: -29px;
}

.head button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 83.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
}

.head button:hover {
    background-color: rgb(39, 39, 39);
}

.konten2 {
    margin-top: 700px;
    padding-left: 281px;
    padding-right: 281px;
    background-color: black;
    height: 300px;
    padding-top: 139px;
    padding-bottom: 43px;
}


.konten2 h4 {
   font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 83.5%;
    color: white;
}

.konten2 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #F2F2F2;
}

.vp1 {
    display: inline-block;
    width: 248px;
    height: 217px;
}

.vp2 {
    display: inline-block;
    width: 248px;
    height: 217px;
    margin-left: 100px;
}

.vp3 {
    display: inline-block;
    width: 248px;
    height: 217px;
    margin-left: 100px;
}

.vp4 {
    display: inline-block;
    width: 248px;
    height: 217px;
    margin-left: 100px;
}

.konten3 {
    margin-top: 99px;
    margin-left: 281px;
    margin-right: 281px;
}

.konten3 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 83.5%;
    display: flex;
    margin-top: 65px;
    margin-bottom: 30px;
}

.konten3 p {
    float: left;
    margin-top: 0px;
}

.konten3 h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 126%;
}

.row1 td {
    padding-left: 50px;
    text-align: center;
}

#td1 {
    padding-left: 0px;
    background-image: url("Group\ 85.png");
    width: 283px;
    height: 419px;
}

#td1:hover {
    background-image: url("td1.png");
}

#td2 {
    margin-left: 50px;
    background-image: url("Group\ 86.png");
    width: 232px;
    height: 419px;
    display: block;
}

#td2:hover {
    background-image: url(td2.png);
}

#td3 {
    background-image: url("Group\ 87.png");
    width: 232px;
    height: 419px;
    left: 50px;
    position: relative;
}

#td3:hover {
    background-image: url(td3.png);
}

#td4 {
    background-image: url("Group\ 88.png");
    width: 232px;
    height: 419px;
    left: 100px;
    position: relative;
}

#td4:hover {
    background-image: url(td4.png);
}


#td5 {
    padding-left: 0px;
    background-image: url("Group\ 89.png");
    width: 283px;
    height: 419px;
}

#td5:hover {
    background-image: url(td8.png);
}

#td6 {
    margin-left: 50px;
    background-image: url("Group\ 90.png");
    width: 232px;
    height: 419px;
    display: block;
}

#td6:hover {
    background-image: url(td7.png);
}

#td7 {
    margin-left: 50px;
    background-image: url("Group\ 91.png");
    width: 232px;
    height: 419px;
    display: block;
}

#td7:hover {
    background-image: url(td6.png);
}

#td8 {
    margin-left: 50px;
    background-image: url("Group\ 92.png");
    width: 232px;
    height: 419px;
    display: block;
}

#td8:hover {
    background-image: url(td5.png);
}
.row2 {
    margin-top: 33px;
}

.row2 td {
    padding-left: 50px;
    text-align: center;
}

#tr2 {
    display: flex;
}

#tr3 {
    display: inline-block;
    position: relative;
    margin-top: 45px;
    color: white;
}

#tr3 a {

    color: white;
}

#tr3 img{
    width: 138px;
    height: 202px;
    position: absolute;
}

#tr3 p {
    text-decoration-line: underline;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 129%;
}

#tr3 td {
    width: 574px;
    height: 203px;
    background: #A6A6A6;
    table-layout: auto;
    display: inline-table;
}

#td3-2 {
    margin-left: 45px;
}

#td3-1 img{
    top: 2px;
    left: 435px;
}

#td3-2 img {
    top: 8px;
    left: 1126px;
}

.konten4 {
    margin-top: 82px;
    padding-left: 281px;
    padding-right: 281px;
    background-color: black;
    height: 450px;
    color: white;
}

.konten4 h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 83.5%;
    margin-bottom: 5px;
}

.konten4 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 136%;
}

.teks4 {
    display: inline-block;
    width: 581px;
    height: 280px;
    top: -33px;
    position: relative;
    margin-top: 120px;
}

.konten4 form {
    display: inline-block;
    position: relative;
    left: 133px;
    top: -50px;
}

.konten4 h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 129%;
}

#formtxt {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 129%;
    padding-left: 23px;
    position: relative;
    top: 5px;
}

#subs {
    background-color: #FEB22D;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 70.5%;
    top: 4px;
    position: relative;
}

#subs:hover {
    background-color: #af730c;
}

#btn1 {
    width: 82px;
    height: 82px;
    float: right;
    position: fixed;
    background-color: #FEB22D;
    color: black;
    display: block;
    top: 800px;
    left: 1734px;
    background-image: url('Group\ 69.png');
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
}

#btn1:hover {
    background-color: #af730c;
}

#btn2 {
    width: 82px;
    height: 82px;
    float: right;
    position: fixed;
    background-color: #FEB22D;
    top: 700px;
    left: 1734px;
    background-image: url('Group\ 84.png');
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
}

#btn2:hover {
    background-color: #af730c;
}

.konten6 {
    display: grid;
    background-color: #FEB22D;
    color: white;
    width: 100%;
    height: 51px;
    justify-content: center;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 275;
    font-size: 14px;
    line-height: 83.5%;
}

.konten6 p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 83.5%;
    justify-content: center;
    text-align: center;
}

#dark-change {
    border-radius: 50px;
    border: none;
}

  
.night {
    background: black;

}

.night h2 {
    color: white;
}

.night p {
    color: white;
}

.night button {
    background-color: white;
    color: black;
}


@media (max-width:900px) {

    #navbar {
        height: 100px;
        z-index: 999;
    }
    
    .logo {
        /* display: inline-block; */
        color: white;
        font-size: 24px;
        font-family: 'Lato';
        /* padding-left: 150px; */
        /* margin-left: 300px; */
        /* margin-top: 7px; */
    }

    .menu{
        padding: 150px;
    }
    

    .menu ul {
        /* text-decoration: none;
        list-style-type: none;
        display: inline-block;
        padding-left: 41px; */
    
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        /* margin-right: 200px; */
    }
    
    .menu ul li{
        list-style: none;
        text-decoration: none;
    }
    
    .menu ul a {
        text-decoration: none;
        text-align: center;
        color: white;
        padding: 6px 15px;
    }
    
    .menu ul a:hover, 
    .menu ul a:active{
        background: white;
        color: black;
        border-radius: 20px;
    }


    .malem {
        width: 40.44px;
        height: 39.74px;
        display: inline-block;
        margin-left: 600px;
        top: 30px;
        position: absolute;
    }
}